<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DG.AdvancedDataGridView" version="1.2.28405.11" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>